*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* start structure */
body{
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}
header{
  height: 110px;
  text-transform: uppercase;
}
footer{
  background-color: #8801fe;
  height: 30px;
  margin-top: 5px;
}
.first-contain{
  height: 300px;
  background-color: #e1d67a;
  margin-top: 20px;
}
.structure-contain{
  margin-top: 20px;
  background-color: #0085ff;
  height: 500px;
  width: 100%;
}
.clearfix{
  content:'';
  clear: both;
  display: table;
}
.float-l{
  float: left;
}
.header{
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
}
.left-main {
  width: 20%;
}
.central-main{
  width: 60%;
  margin: 0 15px 15px 15px;
}
.rigth-main{
  width: 20%;
}
.dimension-l-r{
  width: calc((40% / 2) - 15px);
}
.structure-contain div{
  background-color:#abcfe7;
}
.structure-contain div:not(.header){
  height: 410px;
}
/* end structure */
.principal-logo{
  height: 60px;
}
.header-logo{
  height: 100%;
  border-right: 1px solid #dcdcdc;
  padding-right: 15px;
}
nav{
  margin-top: 20px;
}
nav a{
  text-decoration: none;
  color: #595959;
}
nav li{
  display: inline;
  list-style: none;
  margin-right: 10px;
  font-size: 0.9rem;
}