*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* start structure */
body{
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
  color: #595959;
}
header{
  height: 110px;
  text-transform: uppercase;
}
footer{
  height: 30px;
  margin-top: 5px;
  text-align: center;
}
.first-contain{
  margin-top: 20px;
  height: 400px;
  border-radius: 10px;
  background-image: url(../img/banner.jpg);
  background-size: 90%;
  background-position: 50%;
  color: white;  
  position: relative;
}
.structure-contain{
  margin-top: 20px;
  height: 550px;
  width: 100%;
}
.clearfix{
  content:'';
  clear: both;
  display: table;
}
.float-l{
  float: left;
}
.header{
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
}
.central-main{
  width: 60%;
  margin: 0 15px 15px 15px;
}
.dimension-l-r{
  width: calc((40% / 2) - 15px);
}
.structure-contain > div:not(.header){
  height: 410px;
}
/* end structure */
.principal-logo{
  height: 60px;
}
.header-logo{
  height: 100%;
  border-right: 1px solid #dcdcdc;
  padding-right: 15px;
}
nav{
  margin-top: 20px;
}
nav a{
  text-decoration: none;
  color: #595959;
}
nav li{
  display: inline;
  list-style: none;
  margin-right: 10px;
  font-size: 0.9rem;
}
.first-title{
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 45%;
}
.transparency{
  background-color: rgba(22, 22, 22, 0.3);
  height: 100%;
  border-radius: 10px;
}
.first-title h2{
  font-weight: normal;
}
.text-content{
  font-size: 0.8rem;
}
/* start photo part */
.dimension-transp{
  height: 201px;
  width: 100%;
  border-radius: 10px;
}
.dim-background-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#img-1{
  background-image: url(../img/img-1.jpg);
  background-size: contain;
}
#img-2{
  background-image: url(../img/banner-2.jpg);
}
#img-3{
  background-image: url(../img/img-3.jpg);  background-size: cover;
}
/* end photo part */
h5{
  margin: 10px 0;
}
.structure-contain h1,h5{
  color: black;
}
.heart{
  color: red;
}